:root{
    --primary-color:#003F71;
    --secondary-color:#0064B4;
    --light-color:#fff;
    --gray-color:#6E6E6E
}

.signUpGrid{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "register logo"
    "register logo";
    min-height:100%;
    min-width:100%;
    
}
.register{
    grid-area: register;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    min-width: 50%;

}
.registerHeader{
    font-size: clamp(23px,19px,27px);
    font-weight: 600;

}
.registerBody{
    display: flex;
    flex-direction: column;
    gap:10px;

}
.registerBodyHeader{
    font-size: clamp(16px,17px,20px);
    font-weight: 500;

}
.registerBodyContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.registerBodyContent p{
    color: var(--gray-color);
    text-align: center;
    font-weight: 300;

}
.registerBodyContent label{
    font-size: clamp(13px,12px,18px);
}
.registerBodyContent input{
    width: 350px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-color:gray ;
    border-radius: 3px;


}
.registerBodyContent input::placeholder{
    color: gray;
    font-weight: 300;
    font-size: 14px;
}
.registerBodyContent a{
    color: var(--secondary-color) ;
    width: 100%;
    font-size: clamp(12px,13px,17px);
    margin-block: 6px;

}
.registerBodyContentButton{
    color: var(--light-color);
    border: none;
    border-radius: 3px;
    font-weight: 300;

    min-width: 100%;
    background-color: var(--secondary-color);
    padding: 10px 10px;
}
.disableButton{
    color: white;
    background-color: rgba(128, 128, 128, 0.587);
}
.registerFooter{
    display: flex;
    min-width: 100%;
    text-align: center;




}
.registerFooterContent p{

    text-align: center;
    font-size: clamp(11px,12px,15px);
}

.logo{
    min-height: 100vh;

    background-color: var(--primary-color);
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.424) 0px 3px 8px;
   
}
.logo img{
    margin: auto;
    height: 60%;
}
@media (max-width:40rem) {
    .signUpGrid{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "register register"
        "logo logo";
        min-height:100%;
        min-width:100%;
        
    }
}